<h1>All Convos</h1>

<% @conversations.each do |conversation| %>

<div>
	<%= link_to conversation.subject, conversation_path(conversation)%>

	<!-- <h1><%=conversation.subject%></h1> -->

</div>

<%end%>

<%= link_to 'New Conversation', new_conversation_path %>