<div class="navbar card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Travellancer</h5>
    <p class="card-text">Empowering the gig economy.<br> Anywhere.</p>
    <div class="container img-responsive">
      <%= image_tag("/assets/images/Travellancer.png", class: "img-responsive") %>
    </div>
  </div>
  <div class="card-footer text-muted">
    All rights reserved.
  </div>
</div>