
<div class="container justify-content-center">
    <h1 class="header">Find a photographer in your dream destination</h1>
  <div class="row col-12-sm text-center justify-content-center" style="margin-bottom: 5rem;">
    <% @popular_places.keys.each do |destination| %>
      <div class="card">
        <img class="card-img-top" src="<%= Freelancer.where("location = '#{destination}'").first.picture %>" alt="Card image cap">
        <div class="card-body">
          
          <a class="badge badge-info badge-sm" href="./locations/<%= destination %>"><h6 class="card-title card-dark"><%= destination %></h6></a>
        </div>
      </div>
    <% end %>
  </div>
</div>