<h1 class="header">Edit Destination</h1>

<div class="form-group container col-2 mt-5">
    <div>
        <p class="alert alert-success" id="notice" role="alert"><%= notice %></p>
    </div>
    <%= render 'form', destination: @destination %>
    <%= link_to 'Show', @destination %> |
    <%= link_to 'Back', destinations_path %>    
</div>






