<h1 class="header">Editing Destination</h1>

<div class="form-group container col-2 mt-5">
    <%= render 'form', destination: @destination %>
    <%= link_to 'Show', @destination %> |
    <%= link_to 'Back', destinations_path %>    
</div>






