#photog-image {
	height: 65vh;
	width: 1500px;
}

#userpic {
	height: 200px;
	width: 180px;
	z-index: 1;
}

#freelancer-avatar {
	position: relative;
	bottom: 75px;
	left: 20%;
}

#jumbo {
	position: relative;
	margin: -18%;
	margin-left: -1.25%;
	width: 1145px;
}

#dumbo {
	position:relative;
}


.avatar img{
	position: relative;
	top: -50px;
	margin-bottom: -50px;
}

h1.header {
	margin-top: 5rem;
	margin-bottom: 4rem;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
}

.avatar img{
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.5);
	height: 90px;
	width: 90px;
}

.container {
	margin-top: 275px;
}

.card {
	width: 30%;
	margin: 10px 15px 10px 15px;
} 


/* 

#freelance-photog {
	height: 750px;
	width: 1500px;
}

#location {
	display: inline-flex;
	position: relative;
	margin-top: -42%;
	left: 59%;
	color: black;
}


#edit {
	position: relative;
	margin-left: 95%;
	bottom: 284.3px;
}



h3 {
	margin: 3%;
	font-style: bold;
}

h5 {
	margin: 3%;
	font-style: bold;
}

*/