#container {
	width: 100px;
}

#freelance-photog {
	height: 500px;
	width: 1500px;
}

#photog-image {
	height: 75vh;
	width: 1500px;
}

#userpic {
	height: 200px;
	width: 200px;
}

#freelancer-avatar {
	position: relative;
	bottom: 75px;
	left: 26%;
}

#freelancer-name {
	display: inline-flex;
	position: relative;
	margin-top: 11%;
	left: -7%;
	color: black;
}

#location {
	display: inline-flex;
	position: relative;
	margin-top: -42%;
	left: 59%;
	color: black;
}

#location-font {
	font-size: 20px;
}


#bio {
	display: block;
	position: relative;
	margin-left: 25%;
	margin-bottom: 10%;

}

#edit {
	position: relative;
	margin-left: 95%;
	bottom: 284.3px;
}

#edit-text {
	font-size: 22px;
}

h3 {
	margin: 3%;
}

h5 {
	margin: 3%;
}

h6 {

}  