<div>
  <p class="alert alert-success" id="notice" role="alert"><%= notice %></p>
</div>

<h1 class="header">Photographers in <%= params[:location] %></h1>

<div class="container justify-content-center mt-5">
  <div class="row col-12-sm text-center">
    <% @freelancers_from_location.each do |freelancer| %>
      <div class="card" style="width: 35rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-dark"><%= freelancer.first_name %> <%= freelancer.last_name %></h5>
          <p class="card-text"></p>
          <aclass="btn btn-primary"></a>
        </div>
      </div>
    <% end %>
  </div>
</div>